Golang style date external library

The time library provided by Golang is really easy to use.

deno also learned a lot from golang

Is it necessary to introduce a golang-style API design to make it the official library?

```typescript
enum Layout {
	ANSIC,       // "Mon Jan _2 15:04:05 2006"
	UnixDate,    // "Mon Jan _2 15:04:05 MST 2006"
	RubyDate,    // "Mon Jan 02 15:04:05 -0700 2006"
	RFC822,      // "02 Jan 06 15:04 MST"
	RFC822Z,     // "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
	RFC850,      // "Monday, 02-Jan-06 15:04:05 MST"
	RFC1123,     // "Mon, 02 Jan 2006 15:04:05 MST"
	RFC1123Z,    // "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
	RFC3339,     // "2006-01-02T15:04:05Z07:00"
	RFC3339Nano, // "2006-01-02T15:04:05.999999999Z07:00"
	Kitchen,     // "3:04PM"
	// Handy time stamps.
	Stamp,      // "Jan _2 15:04:05"
	StampMilli, // "Jan _2 15:04:05.000"
	StampMicro, // "Jan _2 15:04:05.000000"
	StampNano  // "Jan _2 15:04:05.000000000"
}

class Time {
  format (layout: Layout) {
    // ...
  }
}
```

```typescript
import * as time from "https://deno.land/x/time/time.ts";

time.parse(time.RFC3339Nano, 'you date string')

// other api
// ...
```

I think this design is very elegant. If it is implemented, it will be good.

```go
const (
	ANSIC       = "Mon Jan _2 15:04:05 2006"
	UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
	RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
	RFC822      = "02 Jan 06 15:04 MST"
	RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
	RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
	RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
	RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
	RFC3339     = "2006-01-02T15:04:05Z07:00"
	RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
	Kitchen     = "3:04PM"
	// Handy time stamps.
	Stamp      = "Jan _2 15:04:05"
	StampMilli = "Jan _2 15:04:05.000"
	StampMicro = "Jan _2 15:04:05.000000"
	StampNano  = "Jan _2 15:04:05.000000000"
)
...

func Parse(layout, value string) (Time, error) {
	return parse(layout, value, UTC, Local)
}

func (t Time) Format(layout string) string {
	const bufSize = 64
	var b []byte
	max := len(layout) + 10
	if max < bufSize {
		var buf [bufSize]byte
		b = buf[:0]
	} else {
		b = make([]byte, 0, max)
	}
	b = t.AppendFormat(b, layout)
	return string(b)
}

```

```go
import (
	"time"
)

func main () {
  time.Parse(time.RFC3339Nano, "your date string")
}
```

This would be a good external library! 
submit a PR to https://github.com/denoland/registry/blob/master/x/database.json
To get the deno.land redirect.
Closing since it’s not a bug for core.