`fetch` can send conflicting :authority and host headers on HTTP/2

## Problem

```ts
using client = Deno.createHttpClient({ allowHost: true });
const res = await fetch("https://example.com", {
  client,
  headers: {
    host: "example.net",
  },
});
console.log(res.status);
```

We expect this code to send `:authority = example.net` (instead of `example.com`). But what's actually sent is `:authority = example.com` and `host = example.net`, which violates the HTTP/2 RFC (see [RFC 9113 §8.3.1](https://www.rfc-editor.org/rfc/rfc9113#section-8.3.1)). 

Here is the wireshark screenshot, showing the request made by the script above contained conflicting :authority and host

<img width="763" height="423" alt="wireshark" src="https://github.com/user-attachments/assets/65ccda3c-91eb-4dc9-be22-61e1f4aeb9d5" />



## Additional info

Version: Deno 2.6.9
